@model AppInventory.Models.AppCreateNew

@{
    ViewBag.Title = "Create New App Package";
}

@Styles.Render("~/Content/themes/base/css")
@Styles.Render("~/Content/chosen/css")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/chosen")

<script type="text/javascript">
    $(document).ready(function () {
        $(".chosenFilter").chosen({ max_selected_options: 1, allow_single_deselect: "true", disable_search: "true", width: "100px" });
    });
</script>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.HiddenFor(model => model.AppID)*@
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Manufacturer, "Manufacturer", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Manufacturer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version, "Version", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Manufacturer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScopeID, "Scope", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ScopeID", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ScopeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CMID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CMID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CMID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Model", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CMModel", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CMModel)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Status", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusID", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Disposition", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DispositionID", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DispositionID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 5, 30, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Language, "Language", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Language)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppDeskID, "AppDesk ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppDeskID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AppDeskID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BeastID, "Beast ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BeastID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BeastID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeploymentTool, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeploymentTool, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeploymentTool)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeploymentGroup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeploymentGroup, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeploymentGroup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RebootReq, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RebootReq, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RebootReq)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogonReq, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LogonReq, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LogonReq)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Notes, 5, 30, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LicensingInfo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LicensingInfo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LicensingInfo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn-link-menu" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-link-menu" })
            </div>
        </div>
    </div>
}
