@model AppInventory.Models.AppCI

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Application - @Html.DisplayFor(model => model.App.Name) </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AppCIID)

        <div class="form-group">
            @Html.LabelFor(model => model.CMID, "CM ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CMID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.App.Manufacturer, "Manufacturer", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.App.Manufacturer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.App.Name, "Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.App.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.App.Version, "Version", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.App.Version)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CMModel, "CM Model", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CMModel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FolderPath, "Folder Path", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FolderPath)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeploymentTool, "Deployment Tool", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeploymentTool, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeploymentTool)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DispositionID, "Disposition ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DispositionID", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DispositionID)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, "Remediation Status", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusID", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PkgStatusID, "Packaging Status", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PkgStatusID", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PkgStatusID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RebootReq, "Reboot Required?", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RebootReq, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RebootReq)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogonReq, "Logon Required?", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LogonReq, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LogonReq)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Notes, 5, 30, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LicensingInfo, "Licensing Info", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LicensingInfo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LicensingInfo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModDt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ModDt)
                @Html.HiddenFor(model => model.RowVersion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ModUser)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn-link-menu" />
                @Html.ActionLink("Back to Details", "Details", "AppCI", new { id = Model.AppCIID }, new { @class = "btn-link-menu" })
            </div>
        </div>
    </div>
}

<div>
</div>
