@model AppInventory.Models.RBACInfo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RBACInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            AD Groups
        </dt>

        <dd>
            @Html.Raw(string.Join(", ", Model.RBACGroups.Select(a => a.Group.Name)))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModDt)
        </dd>

       <dt>
            @Html.DisplayNameFor(model => model.ModUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn-link-menu" /> 
            @Html.ActionLink("Back to List", "Index", null,  new { @class = "btn-link-menu" })
        </div>
    }
</div>
